
<router-outlet>
  <!-- <button [disabled]="isDisabled">{{mybtn}}</button>
  <div class="container" [style.backgroundColor] ="bgColor " [style.color]="myColor">
    <h2>Title</h2>
  </div>

  <h2 [class.textColor] = "redText == 'abcd'">Title</h2>
  <button (click) = "inccounter()" >Increment</button>
  <p>{{counter}}</p>

  <input [(ngModel)]="inputText" type="text">
  <p>You have enetered : {{inputText}} </p>
 
  <div [ngClass]="classes">
    {{message}}
  </div>

  <div class="color-box" [ngStyle]="{'backgroundColor': selectedColor}">
    <div class="box">Box</div>
  </div> -->

<!-- 
  <div class="container" *ngIf="isLoggedIn else rule">
    <p> {{username}} </p>
  </div>

  <ng-template #rule>
   <p>else statement</p>
  </ng-template>


  <mat-list>
    <mat-list-item *ngFor="let name of names; let i = index">
      {{i}} {{name}}
    </mat-list-item>
  </mat-list>

  
  <mat-selection-list #naming >
      <mat-list-option *ngFor="let name of names; track name; let i = index"  [value]="name">
           {{i}} {{name}} 
        </mat-list-option>
  </mat-selection-list>
  <p>
    Options selected: {{naming.selectedOptions.selected.length}}
  </p>

  <div class="contain" [ngSwitch] = "grade">
    <p *ngSwitchCase="'A'" >Excellent</p>
    <p *ngSwitchCase="'B'" >Good</p>   
     <p *ngSwitchCase="'C'" >Bad</p>
     <p *ngSwitchDefault>NO error </p>
  </div> -->
<!-- 
  <div class="container">
    @if(a<b)
    {
      {{a}} is lesser than {{b}}
    }
    @else {
      {{b}} is lesser than {{a}}
    }
  </div>

  @for (item of items; track item.id) {
    {{item.name}} <br> -->
  <!-- } -->
<!-- 
  @switch (grade) {
    @case ('A'){
      <p>Excellent</p>
    }
    @case ('B'){
      <p>Excellent</p>
    }
    @case ('C'){
      <p>Excellent</p>
    }

    @default{
      <p>error</p>
    }

  } -->
<!-- 
  {{word | lowercase}} <br>
  {{word | uppercase}} <br>
  

  {{today}} <br>
  {{today | date}} <br>
  {{today | date: 'fullDate' | uppercase}} <br>
  {{today | date: 'short' | uppercase}} <br>
  {{today | date: 'long' | uppercase}} <br>

  {{curr | currency: 'INR' : "symbol"}} <br>
  {{curr | currency: 'INR' : "symbol" : "1.1-4"}} <br>
  {{curr | percent: ""}} <br>

    {{word | append: " moti"}} -->
    

    {{age}} <br>
    {{payemnt}} <br>

    <div class="container" *ngFor="let p of post">
      <h2> {{p.id}} </h2>
      <p> {{p.userid}} </p>
      <p> {{p.title}} </p>
      <p> {{p.body}} </p>
    </div>
</router-outlet>


